<h1>GraphQL example</h1>


<section>
  <form [formGroup]="formGroup" (ngSubmit)="onPostCreate()">
    <label>Title</label>
    <br>
    <input formControlName="title">
    <br>
    <label>Text</label>
    <br>
    <textarea formControlName="text"></textarea>
    <br>
    <input type="submit" value="Submit" [disabled]="formGroup.invalid" />
  </form>
</section>
<hr>

<!-- <router-outlet></router-outlet> -->
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">Error :(</div>
<div *ngIf="posts">
  <div *ngFor="let post of posts">
    <ng-container *ngIf="!postToChange.includes(post.id) else editStateTpl">
      <h3>{{post.title}}</h3>
      <p>{{ post.text }} </p>
      <button (click)="onPostChange(post.id)">Change</button> <button (click)="onPostDelete(post.id)">delete</button>
    </ng-container>
    <ng-template #editStateTpl>
      <label>Title</label>
      <br>
      <input [(ngModel)]="post.title">
      <br>
      <label>Text</label>
      <br>
      <textarea [(ngModel)]="post.text"></textarea>
      <br>
      <input type="checkbox" [(ngModel)]="post.isPublished">Published
      <br>
      <button (click)="onPostUpdate(post)">Edit</button> <button (click)="onPostChangeCancel(post.id)">Cancel</button>
    </ng-template>
  </div>
 
</div>